<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"
    />
    <title>Home</title>
  </head>
  <body>
    <form action="/logout?_method=DELETE" method="POST">
      <div
        style="
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100vh;
        "
      >
        <div style="text-align: center">
          <h1>Welcome, <%= userType %> <%= username %>!</h1>
          <button type="submit">Log out</button>
        </div>
      </div>
    </form>
  </body>
</html>