<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"
    />
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
    <title>Add Stocks</title>
  </head>
  <body>
    <a href="/"><button>return</button></a>
    <form action="/inventory/addstocks" method="POST">
      <!-- Updated action -->
      <input type="text" placeholder="Item name" name="itemName" required />
      <input type="text" placeholder="Brand name" name="brand" required />
      <input
        type="text"
        placeholder="Manufacturer"
        name="manufacturer"
        required
      />
      <input type="number" placeholder="Dosage" name="dosage" required />
      <input type="date" name="expiration" required />
      <input type="number" placeholder="Quantity" name="quantity" required />
      <br />
      <button type="submit">Add</button>
    </form>
  </body>
</html>
