<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Add Stocks</title>
</head>
<body>
  <main>
    <header>
      <h1>Add Medicine</h1>
    </header>
    <form action="/inventory/addstocks" method="POST">
      <input type="text" placeholder="Item name" name="itemName" required />
      <input type="text" placeholder="Brand name" name="brand" required />
      <input type="text" placeholder="Manufacturer" name="manufacturer" required />
      <input type="text" placeholder="Dosage" name="dosage" required />
      <input type="date" name="expiration" required />
      <input type="number" placeholder="Quantity" name="quantity" required />
      <button type="submit">Add Medicine</button>
    </form>
  </main>
</body>
</html>
